# Configuration of the camera
camera :
{
    resolution = { width = 800, height = 800 },
    position = { x = 0.0, y = 0.0, z = 5.0 },
    direction = { x = 0.0, y = 0.0, z = -1.0 },
    fieldOfView = 72 # In degree
}

# App configuration
app:
{
    gui = true,
    outputFile = "",
    maxFps = 144,
    sleepTime = 0.3
}

# Renderer configuration
renderer:
{
    backgroundColor = { r = 0, g = 0, b = 0 },
    bounces = 5,
    multiplier = 1.0
}

# Primitives in the scene
primitives :
{
    # List of spheres
    sphere = (
        {
            position = { x = 0.0, y = 0.0, z = 0.0 },
            radius = 0.4,
            material = {
                albedo = { r = 255, g = 217, b = 102 },
                roughness = 100.0
            }
        },
        {
            position = { x = 1.0, y = 1.0, z = 0.0 },
            radius = 0.6,
            material = {
                albedo = { r = 244, g = 177, b = 131 },
                roughness = 50.0
            }
        },
        {
            position = { x = -3.0, y = -5.0, z = -5.0 },
            radius = 3.0,
            material = {
                albedo = { r = 210, g = 83, b = 128 },
                roughness = 0.0
            }
        }
    )
}

# Light configuration
lights :
{
    ambient = (
        {
            position = { x = -1.0, y = -1.0, z = -1.0 },
            intensity = 1.0
        }
    ),

    # directional = (
    #     {
    #         position = { x = 400.0, y = 100.0, z = 500.0 },
    #         intensity = 1.0
    #     }
    # )
}
